<header class="header">
    <div class="cenario">
        <div class="pikachu"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4 text-left">
                <span (click)="toggleMenu()"><i class="fas fa-bars"></i></span>
            </div>
            <div class="col-4 text-center">
                <a [routerLink]="['home']"><img src="assets/img/pokemon.png" alt="pokemon" class="img-fluid"></a>
            </div>
            <div class="col-4 text-right">
            </div>
        </div>
    </div>
</header>