<h2>
    Bem-vindo!
</h2>
<div class="novos">
    <p><span><i class="fas fa-exclamation-circle"></i></span> Esse software ainda encontra-se em desenvolvimeno.
    </p>
</div>


<div class="conteudo">
    <p>Este é um projeto de teste, e usado apenas para fins acadêmicos. </p><br>
    <p>Todas as informações contidas aqui foram obtidas na PokeAPI: https://pokeapi.co/</p>
    <p>Novas features, módulos e opções serão adicionados regularmente.  </p><br>
    <p>Projeto feito para o curso de Engenharia de Software - PUC Minas </p><br>
    <p><strong>Disciplina: </strong>Arquitetura de Front-end. </p>
    <p><strong>Dezembro/2020</strong></p>
</div>